<body class="sidebar-collapse">
    <div class="page-header clear-filter page-header-very-small" filter-color="orange">
      <%= render 'user/header' %>
    </div>
      <div class="section" data-background-color="black">
        <div class='center'>
          <figure>
            <a href='https://www.reliancesmartmoney.com/stocks/trading-platforms/tick-pc#Download-TickPC' target='_blank'>
              <img src="assets/tick-web.png" href= 'https://www.reliancesmartmoney.com/stocks/trading-platforms/tick-pc#Download-TickPC' alt="">
              <figcaption class= 'center'>TICK PC</figcaption>
            </a>
          </figure>
        </div>
        <div class="center">
          <figure>
            <a href='https://www.reliancesmartmoney.com/stocks/trading-platforms/tick-pro' target='_blank'>
              <img src="assets/tick-pro.jpeg" alt="" style='padding: 30px 30px 0px 30px;' height= '500px'>
              <figcaption class= 'center'>TICK PRO(Mobile APP)</figcaption>
            </a>
          </figure>
        </div>
      </div>
      <div style='padding-top: 30%' data-background-color="black">
      <%= render 'user/layouts/footer', background_color: 'black' %>
    </div>
</body>
