<body class="index-page sidebar-collapse">
  <div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
      <%= render 'user/header' %>
    </div>
    <div class="main container">
      <div id='ipos'>
        <%= render 'ipo' %>
      </div>
    </div>
    <div class="main container">
      <div id='nfos'>
        <%= render 'nfo' %>
      </div>
    </div>
  <%= render 'user/layouts/footer', background_color: 'black' %>
</body>
