<body class="index-page sidebar-collapse">
  <div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
      <div class='demat-button col-lg-5'>
        <%= link_to 'Open Demat Account', '', class: 'btn btn-primary btn-round btn-lg btn-block' %>
      </div>
      <div class='mf-button col-lg-5'>
        <%= link_to 'Open new SIP/MF', '', class: 'btn btn-primary btn-round btn-lg btn-block' %>
      </div>
    </div>
    <div class="main container">
      <div id='ipos'>
        <%= render 'ipo' %>
      </div>
    </div>
  <%= render 'user/layouts/footer', background_color: 'black' %>
</body>
