<body class="index-page sidebar-collapse">
  <div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
      <div class='container mt-auto' style='font-size: 30px'>
        <span style='font-size: 25px'>Smart way to invest in <br></span>
        <strong class="text-slider"></strong>
      </div>
    </div>
    <div class="main container">
      <div id='ipos'>
        <%= render 'ipo' %>
      </div>
    </div>
  <%= render 'user/layouts/footer', background_color: 'black' %>
</body>
