<h4 class='center'>Charts & Charts</h4>
<div class='center'>
  <iframe scrolling="no" src="https://tvc4.forexpros.com/init.php?family_prefix=tvc4&amp;pair_ID=8985&amp;interval=900&amp;plotStyle=areawidth=1150&amp;height=650&amp;lang_ID=1&amp;timezone_ID=20" style="background-color: white; color: black; padding-top: 8px;" width="95%" height="460" frameborder="0"></iframe>
</div>