<div class="col-lg-6 col-sm-12 col-md-12">
  <div class="card">
    <div class="card-header card-header-info">
      <h5 class="center mt-3 text-info mb-0 font-italic font-weight-bold">BSE 500 Top Gainers</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Scrip</th>
              <th>LTP</th>
              <th>Change</th>
            </tr>
          </thead>
          <tbody>
            <% top_gainers.each do |scrip| %>
              <tr>
                <td><%= scrip[:name] %></td>
                <td><%= scrip[:ltp] %></td>
                <td class='text-success'><%= scrip[:change] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= will_paginate top_gainers, param_name: 'top_gainers_page', previous_label: 'Previous', next_label: 'Next' %>
    </div>
  </div>
</div>
