<div class='container'>
  <h4 style= 'display: flex; justify-content: center;'>Search you favorite Stocks here!</h4>
  <div style= 'display: flex; justify-content: center;'>
    <p class="sc-embed" id='tickertape' data-width="500px" data-orders="%5B%7B%22quantity%22%3A10%2C%22ticker%22%3A%22SKFINDIA%22%7D%5D" data-cardsize="big" data-withtt="true" data-withsearch="true" style="width:500px;min-height:300px;display:flex;align-items:center;justify-content:center"> 
    <strong>loading widget to trade SKFINDIA</strong> 
    </p>
  </div>
</div>

<script async src="https://www.gateway-tt.in/assets/embed.js"></script> 
