<footer class="footer" data-background-color=<%= background_color %>>
  <div class=" container ">
    <nav>
      <ul>
        <li>
          <a href="#">
            Star Money
          </a>
        </li>
        <li>
          <a href="#">
            About Us
          </a>
        </li>
        <li>
          <a href="#">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright" id="copyright">
      &copy;
      <script>
        document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
      </script> Created by
      <a href="https://github.com/saksham-jain" target="_blank">Saksham Jain</a>.
    </div>
  </div>
</footer>